<section>
    <h2 data-bind="text: displayName"></h2>
    <blockquote data-bind="text: description"></blockquote>
    <h3>Rules</h3>
    <div>
        <table >
            <tr>
                <td >
                    <input id="A1" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td >
                    <input id="A2" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td >
                    <input id="A3" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td>
                    <input id="A4" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
            </tr>
            <tr>
                <td >
                    <input id="B1" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td>
                    <input id="B2" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td>
                    <input id="B3" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td >
                    <input id="B4" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
            </tr>
            <tr>
                <td >
                    <input id="C1" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td >
                    <input id="C2" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
               <td >
                    <input id="C3" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td >
                    <input id="C4" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
            </tr>
            <tr>
               <td >
                    <input id="D1" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td >
                    <input id="D2" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
                <td >
                    <input id="D3" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
               <td >
                    <input id="D4" class="btn btn-default" type="button" value="" style="width:106px;height:66px;" />
                </td>
            </tr>
        </table>
    </div>
    <div class="alert alert-success">
        <table class="table-condensed">
            <thead class="headerText">
                <tr>
                    <th>"O" Wins</th>
                    <th>Draws</th>
                    <th>"X" Wins</th>
                </tr>
            </thead>
             <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>    
    </div>
</section>

